body {
  font-family: "Avenir", Arial, sans-serif; }

a {
  text-decoration: none; }

div.mobile_jump_menu {
  display: none; }

iframe.map {
  display: none; }

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 100%; }

  header {
    letter-spacing: 1.3px;
    text-align: center;
    position: relative; }
    header a {
      color: #000; }
    header a:visited, header a:active, header a:hover {
      color: #000; }
    header ul {
      display: none;
      font-size: 0.9em;
      line-height: 1.8em; }
    header button.mobile_shelf {
      position: absolute;
      top: 10px;
      right: 10px;
      border-radius: 3px;
      border: 1px solid #ccc;
      height: 34px;
      width: 34px;
      text-align: center;
      font-size: 18px;
      padding: 0 4px; }
    header br {
      display: none; }

  div.carousel {
    background: url("../images/F-Type-R-Coupe.jpg");
    background-size: 100% 100%;
    background-position: 0px 0px;
    clear: both;
    height: 280px;
    width: 100%;
    color: #fff;
    position: relative; }
    div.carousel .info {
      position: absolute;
      top: 20px;
      width: 45%;
      padding-left: 3%;
      font-size: 0.9em;
      background: #18282e;
      opacity: 0.7; }
    div.carousel .subinfo {
      position: absolute;
      width: 45%;
      padding-left: 3%;
      background: #aebec5;
      opacity: 0.7;
      top: 80px; }
      div.carousel .subinfo p {
        font-size: 0.6em; }
    div.carousel .unselected {
      background: url("../images/select.png");
      background-position: 0 -16px;
      position: absolute;
      z-index: 10;
      top: 250px;
      left: 50%;
      margin-left: -35px;
      height: 16px;
      width: 16px; }
    div.carousel .mobileun {
      margin-left: -5px; }
    div.carousel .mobileun1 {
      margin-left: 25px; }

  section.jaguar-f-type {
    display: none;
    background: #ebedef;
    min-height: 280px; }
    section.jaguar-f-type h1 {
      font-size: 0.8em;
      text-align: center;
      padding: 10px 0; }
    section.jaguar-f-type .box {
      width: 30%;
      padding: 0 1.5%;
      font-size: 0.4em;
      float: left; }
      section.jaguar-f-type .box p {
        text-indent: 5px;
        font-size: 0.4em; }

  div.signup {
    height: 320px;
    display: none;
    background-image: url("../images/jaguar-signup.jpg");
    background-size: 150% 100%;
    background-color: #131d21;
    background-blend-mode: multiply;
    color: #fff;
    position: relative;
    text-align: center; }
    div.signup h1 {
      font-size: 0.9em;
      position: absolute;
      top: 80px;
      width: 100%;
      text-align: center;
      letter-spacing: 3.36px; }
    div.signup button {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -95.5px;
      height: 44px;
      width: 191px;
      background: #687b82;
      border-radius: 5px;
      border: 1px solid #fff;
      color: #fff;
      letter-spacing: 2.4px; }
    div.signup button:hover {
      cursor: pointer; }

  div.interior {
    height: 320px;
    display: none; }
    div.interior div.interior-car1 {
      background: url("../images/interior-car1.jpg");
      background-size: 100% 100%;
      height: 49.6%;
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
      width: 49.6%; }
    div.interior div.interior-car2 {
      background: url("../images/interior-car2.jpg");
      background-size: 100% 100%;
      height: 49.6%;
      width: 49.6%;
      background-position: 0px 0px;
      border-top: 1px solid #fff; }
    div.interior div.interior-text {
      background: #aebec5;
      height: 49.6%;
      width: 49.6%;
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
      overflow: auto; }
      div.interior div.interior-text h2 {
        font-size: 0.5em;
        text-align: center;
        letter-spacing: 4.32px;
        padding: 5px 0; }
      div.interior div.interior-text p {
        font-size: 0.3em;
        line-height: 1.2em;
        width: 90%;
        margin: 0 auto; }
    div.interior div {
      float: left; }

  div.photo_gallery {
    min-height: 280px;
    text-align: center;
    display: none; }
    div.photo_gallery h1 {
      font-size: 12px;
      letter-spacing: 7.2px;
      text-align: center; }
    div.photo_gallery p {
      font-size: 11px;
      text-align: center;
      margin: 0 auto;
      width: 90%; }
    div.photo_gallery div.image_wrap {
      margin-top: 15px; }
    div.photo_gallery img {
      width: 23%;
      height: 23%; }

  div.pricing {
    min-height: 280px;
    display: none;
    background: url("../images/pricing-gray.jpg");
    background-size: 100% 100%;
    padding-top: 10px; }
    div.pricing h1 {
      font-size: 12px;
      letter-spacing: 7.2px; }
    div.pricing h1 {
      text-align: center; }
    div.pricing div.pricing-text {
      background: #fff;
      position: relative;
      width: 30.66667%;
      height: 140px;
      float: left;
      margin: 0 1.3%;
      margin-top: 10px; }
      div.pricing div.pricing-text p {
        font-size: 0.6em;
        width: 90%;
        margin: 0 auto;
        margin-top: 40px;
        clear: both;
        text-align: center; }
      div.pricing div.pricing-text h2, div.pricing div.pricing-text h3 {
        float: left; }
      div.pricing div.pricing-text h2 {
        font-size: 2.2em;
        position: absolute;
        left: 50%;
        margin-left: -0.6em; }
      div.pricing div.pricing-text h3 {
        position: absolute;
        left: 50%;
        margin-left: -1.6em;
        top: 8px;
        font-size: 1.6em; }
      div.pricing div.pricing-text .price-arr {
        position: absolute;
        top: 122px;
        left: 50%;
        margin-left: -5.33333%;
        height: 8px;
        width: 15px;
        background: url("../images/price_arr.png"); }
      div.pricing div.pricing-text div.membership_bottom {
        position: absolute;
        top: 130px;
        width: 100%;
        background: #9eaeb3;
        font-size: 0.6em;
        text-align: center; }
    div.pricing p {
      padding: 10px 0;
      font-size: 0.7em;
      width: 90%;
      margin: 0 auto;
      margin-top: 10px;
      clear: both;
      text-align: center; }

  div.mobile_jump_menu {
    display: block;
    background-color: #fff;
    width: 100%; }
    div.mobile_jump_menu button {
      margin: 0;
      padding: 0; }
    div.mobile_jump_menu button.mobile_tab {
      border-radius: 0px;
      border: 1px solid #eee;
      height: 40px;
      width: 25%;
      margin: 0;
      padding: 0;
      color: #000;
      background-color: #fff;
      display: inline; }

  iframe.map {
    display: none;
    height: 310px;
    width: 100%;
    margin: 0; }

  iframe.desktop {
    display: none; }

  footer {
    background-color: #131d21;
    background-blend-mode: multiply;
    height: 40px; }
    footer div.footer_content {
      background-color: #131d21;
      background-blend-mode: multiply;
      width: 100%;
      text-align: center; }
      footer div.footer_content div {
        color: #fff; }
        footer div.footer_content div h3 {
          text-align: center;
          padding: 10px 0;
          letter-spacing: 4.8px; }
        footer div.footer_content div p {
          font-size: 11px;
          line-height: 18px; }
        footer div.footer_content div hr {
          display: none; }
        footer div.footer_content div button.tags {
          border: 1px solid white;
          border-radius: 2px;
          background: rgba(255, 255, 255, 0);
          color: #fff; }
      footer div.footer_content div.tags-box {
        display: none; } }

/*# sourceMappingURL=style-m.css.map */
