@import 'base';

@media screen and (max-width:1024px){
	.wrapper {
		width:100%;

	}

	header {
		letter-spacing: 1.3px;
		text-align: center;
		position: relative;

		a {
			color: #000;
			
		}
		a:visited, a:active, a:hover {
			color: #000;
		}

		img {
			
		}

		ul {
			display:none;
			font-size: 14px;
			line-height: 29px;
		}

		button.mobile_shelf {
			position:absolute;
			top:10px;
			right:10px;
			border-radius:3px;
			border:1px solid #ccc;
			height:34px;
			width:34px;
			text-align: center;
			font-size:18px;
			padding:0 4px;

		}


	}

	div.carousel {
		background: url('../images/F-Type-R-Coupe.jpg');
		background-size: 100% 240px;
		background-position: 0px 0px;
		clear:both;
		height:240px;
		width:100%;
		color: #fff;
	
		.info {
			display:none;
		
		}
		.subinfo {
			display:none;

			p {
				// width: 325px;
			}
		}

		.unselected {
			display:none;
		}
		.unselected:hover{
			display:none;
		}

	}

	section {
		//$width: 931px;
		display:none;
		//width: $width;
		background: #ebedef;

		h1{
			text-align: center;
			padding: 0px 0;
		}

		.box {
			width:90%;
			margin: 0 auto;
		
			p{
				font-size: 0.9em;
				text-align: center;
			}
		}
	}

	div.signup {
		display:none;
		height: 100px; 
		background-image: url('../images/jaguar-signup.jpg');
		// background-position: -100px -100px;
		background-color: #131d21;
		background-blend-mode: multiply;
		color: #fff;
		position: relative;

		h1{
			position:absolute;
			text-align: center;
			
			
			letter-spacing: 3.36px;
		}
		button {
			position: absolute;
			
			background: #687b82;
			border-radius:5px;
			border:1px solid #fff;
			color: #fff;
			letter-spacing: 2.4px;
		}
		button:hover {
			cursor: pointer;
		}
	}

	div.interior {
		
		display:none;
		div.interior-car1 {
			background:url('../images/interior-car1.jpg');
			border-top:1px solid #fff;
			border-right:1px solid #fff;
		}
		div.interior-car2 {
			background:url('../images/interior-car2.jpg');
			background-position: 0 -1px;
			border-top:1px solid #fff;
		}
		div.interior-text {
			background: #aebec5;
			border-top:1px solid #fff;
			border-right:1px solid #fff;

			h2{
				letter-spacing: 4.32px;
			}

			p {
				margin:0 auto;
			}
		}

		div {
			
			float:left;
		}

	}

	div.photo_gallery{

		display:none;
		h1 {
			letter-spacing: 7.2px;
			text-align: center;
		}
		p {

			margin: 0 auto;
			text-align: center;

		}

		div.image_wrap {
			margin: 0 auto;
		}
		img {
		
		}
	}

	div.pricing {
		display:none;
		background:url('../images/pricing-gray.jpg');

		div.pricing-wrap {
			margin: 0 auto;
		}

		h1 {
			letter-spacing: 7.2px;
		}
		h1 {
			text-align:center;
		}
		div.dollar {
			
		}


		div.pricing-text {
			background: #fff;
			position: relative;

			p {
				clear:both;

			}

			h2, h3 {
				float: left;
			}

			h2 {
			}

			h3 {
			
			}

			.price-arr {
				position: absolute;
				background: url('../images/price_arr.png');
				
			}

		}
		div.pricing-text:nth-child(3){
			
		}

		div.membership_bottom {
			
			background: #9eaeb3;
		

		}

		
		span {
		
		}

		p {
			clear:both;
			text-align: center;
		}

	}


	div.mobile_jump_menu {
		display: none;
		background-color: #fff;
		width: 100%;
		

		button {
			margin:0;
			padding:0;
		}
		button.mobile_tab {
			border-radius: 0px;
			border:1px solid #eee;
			height: 40px;
			width: 25% ;
			margin: 0;
			padding:0;
			color: #000;
			background-color: #fff;
			display: inline;


		}
			
	
	}


	footer {
		background-color: #131d21;
		background-blend-mode: multiply;
		height: 40px;
		
		div.footer_content {
				background-color: #131d21;
				background-blend-mode: multiply;
				width:100%;
				text-align: center;
			
			div {

				color: #fff;

				h3 {
					text-align: center;
					padding:10px 0;
					letter-spacing: 4.8px;
				}

				p {
					
					line-height: 22px;
				}



				button.tags {
					border:1px solid white;
					border-radius:2px;
					background:  rgba(255, 255, 255, 0);
					color: #fff;
				
				}
			}

			div.tags-box {
			
			}
			div.contact {

			}

		}
		
	}
}