@import 'base';

$base-height: 280px;

@media screen and (max-width:1024px){
	.wrapper {
		width:100%;

	}

	header {
		letter-spacing: 1.3px;
		text-align: center;
		position: relative;

		a {
			color: #000;
			
		}
		a:visited, a:active, a:hover {
			color: #000;
		}

		img {
			
		}

		ul {
			display:none;
			font-size: 0.9em;
			line-height: 1.8em;
		}

		button.mobile_shelf {
			position:absolute;
			top:10px;
			right:10px;
			border-radius:3px;
			border:1px solid #ccc;
			height:34px;
			width:34px;
			text-align: center;
			font-size:18px;
			padding:0 4px;

		}
		br {
			display:none;
		}


	}

	div.carousel {
		background: url('../images/F-Type-R-Coupe.jpg');
		background-size: 100% 100%;
		background-position: 0px 0px;
		clear:both;
		height:$base-height;
		width:100%;
		color: #fff;
		position:relative;
	
		.info {
			position:absolute;
			top:20px;
			width:45%;
			padding-left:3%;
			font-size:0.9em;
			background: #18282e;
			opacity: 0.7;
		
		}
		.subinfo {
			position:absolute;
			width:45%;
			padding-left:3%;
			background: #aebec5;
			opacity: 0.7;
			top:80px;

			p {
				font-size:0.6em;
			}
		}

		.unselected {
			display:none;
		}
		.unselected:hover{
			display:none;
		}

	}

	section.jaguar-f-type {
		//$width: 931px;
		display:none;
		//width: $width;
		background: #ebedef;
		min-height: $base-height;

		h1{
			font-size:0.8em;
			text-align: center;
			padding:10px 0;
		}
		$width: 100% / 4;
		.box {
			width: 30%;
			padding:0 1.5%;
			font-size: 0.4em;
			float:left;


			p{
				text-indent: 5px;
				font-size: 0.4em;
			}
		}
	}

	div.signup {
		height:320px;
		display:none;
		background-image: url('../images/jaguar-signup.jpg');
		background-size:150% 100%;
		background-color: #131d21;
		background-blend-mode: multiply;
		color: #fff;
		position: relative;
		text-align: center;

		h1{
			font-size:0.9em;
			position: absolute;
			top:80px;
			width:100%;
			text-align: center;
			letter-spacing: 3.36px;
		}
		button {
			position: absolute;
			top:50%;
			left:50%;
			margin-left:-95.5px;
			height:44px;
			width:191px;
			background: #687b82;
			border-radius:5px;
			border:1px solid #fff;
			color: #fff;
			letter-spacing: 2.4px;
		}
		button:hover {
			cursor: pointer;
		}
	}

	div.interior {
		height:320px;
		$frame: 49.6%; 
		display:none;
		
		div.interior-car1 {
			background:url('../images/interior-car1.jpg');
			background-size:100% 100%;
			height:$frame;
			border-top:1px solid #fff;
			border-right:1px solid #fff;
			width:$frame;
		}
		div.interior-car2 {
			background:url('../images/interior-car2.jpg');
			background-size:100% 100%;
			height:$frame;
			width:$frame;
			background-position: 0px 0px;
			border-top:1px solid #fff;
		}
		div.interior-text {
			background: #aebec5;
			height:$frame;
			width:$frame;
			border-top:1px solid #fff;
			border-right:1px solid #fff;
			overflow:auto;

			h2{
				font-size:0.5em;
				text-align: center;
				letter-spacing: 4.32px;
				padding:5px 0;
			}

			p {
				font-size:0.3em;
				line-height:1.2em;
				width:90%;
				margin: 0 auto;
			}
		}

		div {
			
			float:left;
		}

	}

	div.photo_gallery{
		min-height:$base-height;
		$imgFrame: 23%;
		text-align: center;
		display:none;
		h1 {
			font-size:12px;
			letter-spacing: 7.2px;
			text-align: center;
		}
		p {
			font-size:11px;
			text-align: center;
			margin:0 auto;
			width:90%;

		}

		div.image_wrap {
			margin-top:15px;
		}
		img {

			width: $imgFrame;
			height:$imgFrame;
			
		}
	}

	div.pricing {
		min-height:$base-height;
		display:none;
		background:url('../images/pricing-gray.jpg');
		background-size:100% 100%;
		padding-top:10px;
		$priceFrame: 90% / 3;

		div.pricing-wrap {
			
		}

		h1 {
			font-size:12px;
			letter-spacing: 7.2px;
		}
		h1 {
			text-align:center;
		}
		div.dollar {
			
		}


		div.pricing-text {
			background: #fff;
			position: relative;
			width:$priceFrame;
			height:200px;
			float:left;
			margin:0 1.3%;
			margin-top:10px;

			p {
				
				font-size:0.6em;
				width:90%;
				margin:0 auto;
				margin-top:40px;
				clear:both;
				text-align: center;
			}

			h2, h3 {
				float: left;
			}

			h2 {
				font-size:2.2em;
				position:absolute;
				left:50%;
				margin-left:-0.6em;
			}

			h3 {
				position: absolute;
				left:50%;
				margin-left:-1.6em;
				top:8px;
				font-size:1.6em;
			}
			$halfPrice : ($priceFrame / 2 - 10) * -1;

			.price-arr {
				position: absolute;
				top: 182px;
				left:50%;
				margin-left:$halfPrice;
				height:8px;
				width:15px;
				background: url('../images/price_arr.png');
				
			}
			div.membership_bottom {
				position:absolute;
				top:190px;
				width:100%;
				background: #9eaeb3;
				font-size:0.6em;
				text-align: center;
			}

		}
		
		

		
		span {
		
		}

		p {
			padding:10px 0;
			font-size:0.7em;
			width:90%;
			margin: 0 auto;
			clear:both;
			text-align: center;
		}

	}


	div.mobile_jump_menu {
		display:block;
		background-color: #fff;
		width: 100%;
		

		button {
			margin:0;
			padding:0;
		}
		button.mobile_tab {
			border-radius: 0px;
			border:1px solid #eee;
			height: 40px;
			width: 25% ;
			margin: 0;
			padding:0;
			color: #000;
			background-color: #fff;
			display: inline;


		}
			
	
	}

	iframe.map { 
		display:none;
		height:310px;
		width:100%;
		margin:0;
	}


	footer {
		background-color: #131d21;
		background-blend-mode: multiply;
		height: 40px;
		
		div.footer_content {
				background-color: #131d21;
				background-blend-mode: multiply;
				width:100%;
				text-align: center;
			
			div {
				
				color: #fff;

				h3 {
		
					text-align: center;
					padding:10px 0;
					letter-spacing: 4.8px;
				}

				p {
					font-size:11px;
					line-height: 18px;
				}

				hr {
					display: none;
				}

				button.tags {
					border:1px solid white;
					border-radius:2px;
					background:  rgba(255, 255, 255, 0);
					color: #fff;
				
				}
			}

			div.tags-box {
				display:none;
			}
			div.contact {
				
			}

		}
		
	}
}